<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adios</title>
</head>
<body>
    <p>Adios...</p>
    <img src="https://i.pinimg.com/564x/ad/0c/0a/ad0c0a6fb4a689c90cb42ba29b7fd913.jpg">
</body>
</html>