<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola</title>
</head>
<body>
    <p>Hola <%= nombre %>!!</p>
    <img src="https://i.pinimg.com/564x/bf/b7/4a/bfb74a7b477cbb9949e22486caf1eb0c.jpg">
</body>
</html>